.table {
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
.t-head {
  background-color: #e5e8e8;
}
.drop {
  background-color: #e5e8e8;
  margin-top: 1rem;
  font-size: 20px;
  width: 10rem;
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://www.pngkey.com/png/detail/25-257290_drop-down-arrow-solid-svg-png-icon-free.png)
    96% / 10% no-repeat #e5e8e8;
  &:focus {
    outline: none;
  }
}
.head {
  background-color: #e5e8e8;
  height: 3rem;
  font-size: 25px;
}
.issues {
  width: 60%;
}
.status {
  width: 20%;
}
