.tb-data {
  font-size: 20px;
  float: left;
}
.td-status {
  margin-left: 2rem;
}
.td-issue {
  margin-left: 2rem;
  float: left;
}
.row {
  height: 3rem;
  border: 1px solid black;
}
.link {
  color: black;
}
