.table {
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  font-family: "Alegreya", sans-serif;
}
.head {
  background-color: #e5e8e8;
  height: 3rem;
  padding-top: 1rem;
  font-size: 25px;
}
.issues {
  width: 60%;
  border-radius: 7px 7px 0px 0px;
}
.status {
  width: 20%;
}
.row {
  height: 3rem;
}
